<md-toolbar >
    <div class="md-toolbar-tools">
        <md-button
                   class="md-icon-button"
                    hide-gt-xs  ng-click="vm.toggleSideNav()">
            <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <h1>
            Contact Manager
        </h1>
        <md-fab-speed-dial md-direction="down"
            class="md-fling md-fab-top-right">
            <md-fab-trigger>
                <md-button class="md-fab" ari-label="button-label"> 
                    <md-icon md-svg-icon="navigation:menu"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button  
                        class="md-fab md-raised md-mini" style="color:black">
                        <md-icon md-svg-src="navigation:menu" style="color:black"></md-icon>                   
                </md-button>
                <md-button class="md-fab md-raised md-mini">
                        <md-icon  md-svg-src="communication:clear_all"></md-icon>                   
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        
    </div>
</md-toolbar>